<div class="container">
  <div class="row">
    <div class="col mt-4">
      <form [formGroup]="todoFrm" (ngSubmit)="addTodo()">
      <div class="card">
        <div class="card-header">
          <h3>Angular Todo App</h3>
        </div>
        <div class="card-body">
          <input type="text" class="form-control" formControlName="input" placeholder="add new item">
          <button type="submit" class="btn btn-primary mt-2">Add new</button>
    
          <ul class="list-group mt-3">
            <li class="list-group-item" *ngFor="let item of list">
              {{ item.value }}
              <i class="fa fa-check" (click)="deleteTodo(item.id)"></i>
            </li>
          </ul>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
